.centered-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    cursor: pointer;
}

.image-container {
    margin: 1rem;
}

.dont-display {
    display: none !important;
}