@import "~bootstrap/scss/bootstrap";

body {
  background: url('../images/color-1909977_1920.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.1rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.15rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 1.3rem;
  }
}

.responsive-icon {
  @include media-breakpoint-down(md) {
    max-width: 2rem;
  }

  @include media-breakpoint-up(lg) {
    max-width: 2.7rem;
  }

  @include media-breakpoint-up(xl) {
    max-width: 3rem;
  }
}

.centered-absolute-container {
  position: absolute;
  align-content: center;
  top: 200px;

  @include media-breakpoint-down(lg) {
    left: 43%;
  }

  @include media-breakpoint-down(md) {
    left: 40%;
  }

  @include media-breakpoint-down(sm) {
    left: 36%;
  }

  @include media-breakpoint-down(xs) {
    left: 33%;
  }

  @include media-breakpoint-up(xl) {
    left: 45%;
    top: 230px;
  }
}